SERVER_DB=localhost
DB=controll
DB_USER=postgres
DB_SENHA=#Rr66oi90
JWT_SECRET=JkZ5I8uOHxuX3xdNgHMfZ7hQh445UPNAkjvSwjXMcmEJ0elId0
LINK_RBX=https://sistema.solprovedor.com.br/routerbox/ws/rbx_server_json.php
API_FRONTEND=http://localhost:5173
API_KEY=EN6PYLEGXSV7LK3LL2YQ6R1E5U2LG2
